<div class="d-flex  justify-content-end">
  <%= link_to "Add a job", new_job_path, class:"mr-0 btn btn-outline-secondary" %>
</div>
<table class="table">
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to job.title, job_path(job) %>
    </td>
    <td>
      <%= link_to "Edit", edit_job_path(job.id) %> ｜
      <%= link_to "Destroy", job_path(job.id), method: "delete", data:{confirm:"確認刪除嗎？"}  %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
