<div class='d-flex  justify-content-end'>
  <%= link_to 'Add a job', new_admin_job_path, class:'mr-0 btn btn-outline-secondary' %>
</div>
<table class='table'>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= render_job_status(job) %>
      <%= link_to job.title, admin_job_path(job) %>
    </td>
    <td>
      <%= link_to 'Edit', edit_admin_job_path(job) %> ｜
      <%= link_to 'Destroy', admin_job_path(job), method: 'delete', data:{confirm: '確認刪除嗎？'}  %>
      <% if job.is_hidden %>
        <%= link_to  'Publish', public_admin_job_path(job), method: 'post',class: "btn btn-outline-secondary" %>
      <% else %>
        <%= link_to  "Hide", hide_admin_job_path(job), method: 'post',class: "btn btn-outline-secondary" %>
      <% end %>
      
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
